meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=2, minimum-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
link(rel="preload", href=`${pathStatics}/fonts/montserrat-bold.woff2`, as="font", type="font/woff2", crossorigin="anonymous")
link(rel="preload", href=`${pathStatics}/fonts/montserrat-semibold.woff2`, as="font", type="font/woff2", crossorigin="anonymous")
link(rel="preload", href=`${pathStatics}/fonts/montserrat-medium.woff2`, as="font", type="font/woff2", crossorigin="anonymous")
link(rel="preload", href=`${pathStatics}/fonts/montserrat-regular.woff2`, as="font", type="font/woff2", crossorigin="anonymous")
+connect-style(VIEW)
link(rel="apple-touch-icon-precomposed", sizes="57x57", href=staticImg('favicon/apple-touch-icon-57x57.png'))
link(rel="apple-touch-icon-precomposed", sizes="114x114", href=staticImg('favicon/apple-touch-icon-114x114.png'))
link(rel="apple-touch-icon-precomposed", sizes="72x72", href=staticImg('favicon/apple-touch-icon-72x72.png'))
link(rel="apple-touch-icon-precomposed", sizes="144x144", href=staticImg('favicon/apple-touch-icon-144x144.png'))
link(rel="apple-touch-icon-precomposed", sizes="60x60", href=staticImg('favicon/apple-touch-icon-60x60.png'))
link(rel="apple-touch-icon-precomposed", sizes="120x120", href=staticImg('favicon/apple-touch-icon-120x120.png'))
link(rel="apple-touch-icon-precomposed", sizes="76x76", href=staticImg('favicon/apple-touch-icon-76x76.png'))
link(rel="apple-touch-icon-precomposed", sizes="152x152", href=staticImg('favicon/apple-touch-icon-152x152.png'))
link(rel="icon", type="image/png", href=staticImg('favicon/favicon-196x196.png'), sizes="196x196")
link(rel="icon", type="image/png", href=staticImg('favicon/favicon-96x96.png'), sizes="96x96")
link(rel="icon", type="image/png", href=staticImg('favicon/favicon-32x32.png'), sizes="32x32")
link(rel="icon", type="image/png", href=staticImg('favicon/favicon-16x16.png'), sizes="16x16")
link(rel="icon", type="image/png", href=staticImg('favicon/favicon-128.png'), sizes="128x128")
//meta(name="application-name", content=URL.substr(8))
meta(name="msapplication-TileColor", content="#ffffff")
meta(name="msapplication-TileImage", content=staticImg('favicon/mstile-144x144.png'))
meta(name="msapplication-square70x70logo", content=staticImg('favicon/mstile-70x70.png'))
meta(name="msapplication-square150x150logo", content=staticImg('favicon/mstile-150x150.png'))
meta(name="msapplication-wide310x150logo", content=staticImg('favicon/mstile-310x150.png'))
meta(name="msapplication-square310x310logo", content=staticImg('favicon/mstile-310x310.png'))
link(rel="icon", href=staticImg('favicon/favicon.ico'), type="image/x-icon")
meta(property="og:type" content="website")
//meta(property="og:site_name" content=URL.substr(8))
meta(property="og:locale" content="ru_RU")
meta(name="csrf-param" content="_csrf")
meta(name="csrf-token" content="KeyKeyKeyKeyKeyKey")
